*.d
*.obj
makefile
WaasmeierKohl.f90
*.orig
*.db
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.bin
Executables/GPU_test.txt
Executables/muSTEM
Executables/user_input.txt
MuSTEM.cbp
MuSTEM.depend
*.mod
*.o
