*.d
*.obj
makefile
WaasmeierKohl.f90
*.orig
*.db
*.log
*.out
*cmake*
bin/*
build/*
*.cbp
lib/*
obj/*
*.depend
*.mod
*.depend
*.save-failed
*.bin
Executables/muSTEM
Executables/GPU_test.txt
Executables/user_input.txt
